#jzz{
    margin-top: 20px;
    margin-left: 60px;
    width: 300px;
    height: 225px;
}
#jzzTxt{
    margin-top: 20px;
    margin-left: 325px;
    font-size: 20px;
}
#jzzTxtOpis{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
#crsl{
    width: 300px;
    height: 200px;
}